.favoriteBtn {
    border: none;
    outline: none;
    padding: 2px 6px;
    margin-top: 150px;
    background:orange;
    border: 1px solid orange;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 12px;
}

.favoriteBtn:hover {
    background: #181b20;
}

.favoriteBtn.isFavorite {
    background: #181b20;
}

.favoriteBtn.isFavorite:hover {
    background: transparent;
}