@tailwind base;
@tailwind components;
@tailwind utilities;

.hero {
    border-radius: 10px;
    min-height: 200px;
    max-width: 200px;
    min-width: 200px;
    width: 33,33%;
    background-image: url('https://cdn.pixabay.com/photo/2019/10/11/16/21/sea-4542240_960_720.png');  
}

.active {
    cursor: pointer;
    background-image: none;
    background-color: #FF914D;
    
}

.active :is(h2, p) {
    position: relative;
    z-index: 2;
}
.active :is(span, p) {
    color: #f3f4f6;
}

.circle {
    position: absolute;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: 0.5s;
    z-index: 0;
    top: 0;
    right: 0;
}

.grid-offer :is(p, a) {
    opacity: 0;
}

.active :is(p, a) {
    opacity: 1;
    transition: 0.5s 0.1s ease-in-out;
}

.grid-offer .active:nth-child(1) .circle {
    background: url("https://cdn.pixabay.com/photo/2019/10/11/16/21/sea-4542240_960_720.png")  
        no-repeat 50% 50% / cover;
}

.active .circle {
    clip-path: circle(110px at 100% 0%);
}

.active:hover .circle {
    clip-path: circle(150px at 100% 0%);
}

@media screen and (min-width: 520px) {
    .active {
        transform: scale(1.1);
        transition: 0.2s ease-in-out;
    }
}
